@model TaskWebProject.Models.Tasks.UserListViewModel


<style>
    .create-task-form div {
        margin-bottom: 10px;
    }
    button {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #d0e3f3;
    }
    .counter{
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 150px;
        margin-left:142px;
    }
    .BtnAdd{
        padding: 3px;
        width: 150px;
    }

    .BtnReturn {
        font-size:18px;
    }

    .BtnNext {
        font-size: 18px;
    }
    TABLE {
        width: 600px;
        border-collapse: collapse;
        background-color: #d0e3f3;
    }
    td{width: 150px}
    TD, TH {
        padding: 3px; 
        border: 2px solid black; 
    }
</style>

<div class="center">

<form method="post">
        <fieldset>
            
            <div>
                <button class="BtnAdd" type="submit" name="action" value="Add">Добавить нового</button>
                <button class="BtnAdd" type="submit" name="action" value="Edit">Редактировать</button>
                <label class="counter">Всего @Model.TotalCount записей </label>
            </div>
            <table border="1">
                <tr>
                    <th>Идентификатор</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Емейл</th>
                </tr>
                @foreach (var ppl in Model.Users)
                {
                    <tr>
                        <td>@ppl.Id</td>
                        <td>@ppl.SurName</td>
                        <td>@ppl.Name</td>
                        <td>@ppl.Email</td>
                    </tr>
                }
            </table>
            <div>
                @if (Model.CanBack)
                {
                    <a class="BtnReturn" href="/Users/?page=@(Model.Page - 1)">Back</a>
                }
                @if (Model.CanForward)
                {
                    <a class="BtnNext" href="/Users/?page=@(Model.Page + 1)">Forward</a>
                }
            </div>
        </fieldset>
</form>

</div>