@model TaskWebProject.Models.Tasks.UserListViewModel


<style>
    button {
        margin: 10px;
        background-color: #d0e3f3;
    }
    .counter{
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 150px;
    }
    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #8C959D; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 0.5rem 1rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
        float:left;
        margin-left:4px;
        margin-right:4px;
        line-height:1;
    }
    .BtnR {
        font-size:18px;
    }
    .divv{
        text-align: center;
    }
    TABLE {
        min-width: 700px;
        border-collapse: collapse;
        background-color: #d0e3f3;
    }
    TD, TH {
        padding: 3px; 
        border: 1px solid black; 
        text-indent: 5px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .buttons {
        display: flexible;
        align-content: center;
        border-bottom: 20px;
    }
    
</style>

<div class="container">

<form method="post">
        <fieldset>
            
            <div class="buttons">
                <a class="btn" asp-controller="Users" asp-action="AddUser">Добавить</a>
                <label class="counter">Всего @Model.TotalCount записей </label>
            </div>
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Емейл</th>
                    <th></th>
                </tr>
                @foreach (var ppl in Model.Users)
                {
                    <tr>
                        <td>@ppl.Id</td>
                        <td>@ppl.SurName</td>
                        <td>@ppl.Name</td>
                        <td>@ppl.Email</td>
                        <td>
                            <div>
                                @*<a href="/Users/AddUser/@ppl.Id" class="btn">Добавить</a>*@
                                <a href="/Users/EditUser/@ppl.Id" class="btn">Редактировать</a>
                                <a href="/Tasks/TableTasks/@ppl.Id" class="btn">Задачи</a>
                                @*<a class="btn" asp-controller="Tasks" asp-action="TableTasks">View tasks</a>*@
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <p class="divv">
                @if (Model.CanBack)
                {
                    <a class="BtnR" href="/Users/?page=@(Model.Page - 1)">Back</a>
                }
                @if (Model.CanForward)
                {
                    <a class="BtnR" href="/Users/?page=@(Model.Page + 1)">Forward</a>
                }
            </p>
        </fieldset>
</form>
    @*<a class="btn" asp-controller="Tasks" asp-action="TableTasks">Create new task</a>*@
</div>