@model TaskWebProject.Models.Tasks.TaskListViewModel


<style>
    button {
        margin: 10px;
        background-color: #d0e3f3;
    }

    .counter {
        background-color: #d0e3f3;
        padding: 3px;
        border: 2px solid black;
        width: 150px;
    }

    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #8C959D; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 0.5rem 1rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
        float: left;
        margin-left: 4px;
        margin-right: 4px;
        line-height: 1;
    }

    .BtnR {
        font-size: 18px;
    }

    .divv {
        text-align: center;
    }

    TABLE {
        min-width: 700px;
        border-collapse: collapse;
        background-color: #d0e3f3;
    }

    TD, TH {
        padding: 3px;
        border: 1px solid black;
        text-indent: 5px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .buttons {
        display: flexible;
        align-content: center;
        border-bottom: 20px;
    }
</style>

<div class="container">
    
<form method="post">
        <fieldset>
            
            <div class="buttons">
                <a href="/Tasks/AddTask/@Model.Id" class="btn">Добавить</a>
                <label class="counter">Всего @Model.TotalCount записей </label>
            </div>
            <table border="1" width="100%">
                <tr>
                    <th>Id</th>
                    <th>Заголовок</th>
                    <th>Описание</th>
                    <th>Дедлайн</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
                @foreach (var tsk in Model.Tasks)
                {
                    <tr>
                        <td>@tsk.Id</td>
                        <td>@tsk.Subject</td>
                        <td>@tsk.Description</td>
                        <td>@tsk.Deadline.ToShortDateString()</td>
                        <td>@tsk.CreationDate.ToShortDateString()</td>
                        <td>
                            <div>
                                <a href="/Tasks/EditTask/@tsk.Id" class="btn">Редактировать</a>
                                @*<a href="/Tasks/AddTask/@tsk.UserId" class="btn">Добавить</a>*@
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <p class="divv">
                @if (Model.CanBack)
                {
                    <a class="BtnR" href="/Tasks/TableTasks/?page=@(Model.Page - 1)&id=@Model.Id">Back</a>
                }
                @if (Model.CanForward)
                {
                    <a class="BtnR" href="/Tasks/TableTasks/?page=@(Model.Page + 1)&id=@Model.Id">Forward</a>
                }
            </p>
        </fieldset>
</form>

</div>